.ulNavItem li a:hover{
    background-color: red;
    border-bottom: 2px solid white !important;
}

.navbar button:hover{
    background-color: #8E44AD !important;
    /* color: #101010 !important; */
  }
.navBlurObj{
    display: block;
    /* background-color: red; */
    position: fixed;
    background-color: rgba(16,16,16,0.9);
    filter:blur(8px);
    width: 2000%;
    height: 70px;
    transform: translateY(-10px) translateX(-50%);
    z-index: 10;
}

/* nav::before{
    background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
  z-index: -1;
} */